/* body{
    background-image: url(/img/channels4_profile.jpg);
} */
.h1{
    color: black;
}
.h1{
    background-color: green;
}
.h3{
    color: blue;
}

.table{
    color:aqua;
}

.p1{
    color:red;
}

.underline{
    color:red;
}