h1{
    /* font-size = ელემენტების ზომა */
    font-size: 30px;
    color: red;
}

p{
    font-size: 80px;
    background-color: black;
    color: red;
    /* text-align = ტექსტის გადაადგილება: center left right */
    text-align: center;

}

button{
    font-size: 40px;
    background-color: black;
    color: lawngreen;
    /* text-align არ მუშაობს <button> თეგზე */
}

h1{
    font-size: 80px;
    background-color: lawngreen;
    color: black;
    text-align: center;
}