/* 1 */
#intro{
    color: green;
}

/* 2 */
.inspiration{
    color: red;
}

/* 3 */
/* <p> თეგი გავსტილეთ და მივეცი ფერი brown-ი,ყველა პარაგრაფი ავტომატურად გაისტილა */
p{
    color: brown;
}

/* 4 */
/* <p> თეგს მივწვდით class-ით და უკვე გასტილული პარაგრაფი ხელახლა გაისტილა */
/* class და id უფრო მაღლა დგას ვიდრე თეგი */
.hello{
    color: green
}

/* 5 */
#world{
    color: yellow;
}

/* 6 */
/* ორივე <p> თეგი გავსტილეთ css-ში და მივეცით ფერი ლურჯი,ორივე <p> თეგი გაისტილა რადგან ორივეს ქონდა ერთი და იგივე class-ი */
.test{
    color:blue;
}
/* შეგვიძლია მეორე <p> თეგზე მოვახდინოთ სტილი id-ის გამოყენებით და ის ცალკე გაისტილება რადგან id-ი დგას class-ზე მაღლა */
#idtest{
    color:aqua;
}

/* 7 */
/* <p> თეგს გადავეცით rgb ფერი css-ში */
/* გამოვიდა ოქროსფერი */
.rgbtest{
    color:rgb(205,205,55)
}

/* 8 */
/* color: ის შემდეგ პატარა კვადრატზე დაკლიკებით და შემდეგ გამოტანილ დიდ კვადრატზე მაღლა დაკლიკებით rgb დაგავა HEX კოდზე */
/* rgb გადავიყვანეთ HEX კოდად */
/* HEX კოდი იწყება #-ით */
.hexcode{
    color:#646432
}

/* 9 */
.rgbimg{
    width: 200px;
    height:300px;
}

/* 10 */
/* ფოტო გავხადეთ ეკრანის 50%-ი */
/* ის ყოველთვის ეკრანის 50%-ს დაიკავებს გადიდების ან დაპატარავების შემთვევაშიც */
.percent{
    width: 50%;
}

/* 11 */
/* მშობელ ელემენტს გადავეცით 50px და მისი ტექსტის ზომა იქნება 50px-ი */
.parent{
    font-size: 50px;
}
/* შვილ ელემენტს გადავეცით მშობელი ელემენტის 50px-ის 50%-ი,გამოვიდა 25px რადგან მშობლის იყო 50px და შვილს გადავეცით მისი 50%-ი */
.child{
    font-size: 50%;
}

/* 12 */
.justify{
    /* justify ქმნის ხაზების თანაბარ სიგანეს */
    text-align:justify;
}

/* 13 */
.textdecoration1{
    /* line-thought ქმნის ტექსტის დეკორაცია ყურადღების მისაბყრობად */
    text-decoration: line-through;
    color: #F28D35;
}

/* 14 */
.textdecoration2{
    /* underline ტექსტს ხაზს უსმევს ქვემოთ */
    text-decoration: underline #FF4500;
    font-size: 24px;
}

/* 15 */
.textdecoration3{
    /* dotted ტექსტს წერტილოვან ხაზს უსმევს ქვემოთ */
    text-decoration: dotted 
    underline #2A9D8F;    
}

/* 16 */
.textdecoration4{
    /* wavy overline ტექსტს მაღლა ავლებს ტალღოვან ხაზს */
    text-decoration: wavy overline #2A9D8F;
}

/* 17 */
.capitalize{
    /* text-transform: capitalize ადიდებს ტექსტში პირველ სიმბოლოს */
    text-transform: capitalize;
}

/* 18 */
.textshadow{
    /* text-shadow იღებს ორ მნიშვნელობას: (1 ჰორიზონტალურად) (2 ვერტიკალურად) და ქმნის ტექსტის ჩრდილს */
    text-shadow: 1px 2px;
    /* ჩრდილზე ფერის დადების დროს text-shadow-ს გადაეცემა კიდევ ერთი მნიშვნელობა */
    text-shadow: 4px 4px 4px #4296CE;
}