/* 1 */
/* როდესაც სვტილავთ მშობელ ელემენტს შვილი ელემენტიც ავტომატურად ისტილება */
P{
    color: red;
    font-size: 20px;
}
/* <p> თეგში <b> შვილი ელემენტი ცალკე გავსტილეთ და მივეცით ლურჯი ფერი */
b{
    color: blue;
}


/* 2 */
h1{
    color: purple;
    /* text-align არის property და center არის value */
    text-align: center;
}

u{
    color: orange;
}


/* 3 */
/* მშობელი ელემენტი და შვილი ელემენტი */
.div1 h1{
    color:aqua;
}