*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(rgb(5, 6, 35)60%,rgb(66, 19, 96))
}


/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* nav */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 25px;
    gap: 100px;
    padding-top: 40px;
}


/* all links */
a{
    text-decoration: none;
    color: #fff;
}

/* Log in */
.Log-in{
    color: #fff;
    opacity: 30%;
}

/* Sign-up button */
.Sign-up{
    width: 120px;
    height: 45px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(63, 131, 209);
    font-weight: bold;
    font-size: 20px;
}


/* main div */
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
}


/* main p1 */
.main-p1{
    font-size: 120px;
    color: #fff;
    text-align: center;
    width: 40%;
}


/* input-text in div container */
.input-text{
    width: 1050px;
    height: 120px;
    border: 10px solid rgb(60, 43, 77);
    border-radius: 40px;
    background-color: #fff;
    font-size: 20px;
    display: flex;
    text-indent: 120px;
    position: relative;
    right: 20px;
    opacity: 90%;
}


/* main-p2 */
.main-p2{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    display: flex;
    margin: 50px;
}


/* footer p */
footer p{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
}


/* hover all links */
a:hover{
    color: rgb(0, 255, 21);
}





